<div class="main">
  <h1>TODO</h1>
  <div style="display: flex; gap: 20px; margin-bottom: 20px">
    <mat-form-field style="width: 100%">
      <mat-label>TODOアイテム</mat-label>
      <input
        #newItem
        matInput
        id="addItemInput"
        (keyup.enter)="addItem(newItem.value); newItem.value = ''"
        style="width: 100%"
      />
    </mat-form-field>

    <button
      mat-raised-button
      style="margin: 0"
      (click)="addItem(newItem.value)"
    >
      追加
    </button>
  </div>

  <mat-form-field style="display: flex">
    <mat-select
      placeholder="絞り込み(全て/進行中/完了)"
      (selectionChange)="test($event)"
    >
      <mat-option value="all">すべて</mat-option>
      <mat-option value="active">進行中</mat-option>
      <mat-option value="done">完了</mat-option>
    </mat-select>
  </mat-form-field>

  <p style="text-align: left">
    {{ items.length }}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </p>

  <ul>
    <li *ngFor="let item of items">
      <app-item (remove)="remove(item)" [item]="item"></app-item>
    </li>
  </ul>
</div>
